 <header class="navbar">
    <div class="logo">Logo</div>
    <div class="user-info">Username</div>
  </header>
 <div>
    <a href="menu" class="back-btn">Back</a>
 </div>

<h2 class="lucky-draw">Luky Draw</h2>
<h5 class="lucky-draw">ผลรางวัล วันที่ 25/08/2566 เวลา 11:00 น.</h5>
<div class="circle-container">
  <div class="big-circle">
    <div class="ball ball-1"></div>
    <div class="ball ball-2"></div>
    <div class="ball ball-3"></div>
    <div class="ball ball-4"></div>
    <div class="ball ball-5"></div>
    <div class="ball ball-6"></div>
    <div class="ball ball-7"></div>
  </div>
</div>

  <button class="draw-button">Draw</button>


