.big-circle {
  width: 300px;
  height: 300px;
  background: linear-gradient(145deg, rgba(171.17, 144.82, 227.16, 0.80) 1%, rgba(110.78, 69.01, 199.54, 0.80) 45%, rgba(72.98, 86.36, 233.54, 0.80) 90%);
  box-shadow: 4px 3px 24px rgba(49.52, 47.55, 63.75, 0.69);
  border-radius: 9999px;
  align-items: center;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
}

.ball {
  width: 50px;
  height: 50px;
  background: linear-gradient(180deg, #5255C3 0%, #090B5C 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
  border-radius: 9999px ;
  position: relative;
  animation: rotate 5s linear infinite;
  transition: transform 0.5s ease-in-out;

}

.ball2 {
  width: 50px;
  height: 50px;
  background: linear-gradient(180deg, #5593E3 0%, #2F33AE 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
  border-radius: 9999px;
  position: absolute;
  animation: rotate 5s linear infinite;
  transition: transform 0.5s ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.date {
    width: 100%;
    margin-bottom: 10px;
    margin-top: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .button {
    padding: 1rem;
    height: 4rem;
    display: grid;
    place-items: center;
    width: 100%;
    background: #4B5AD0;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.20);
    border-radius: 48px;
    border: 2px solid #0E43AD;
    color: white;
}

.buttons {
    max-width: 130px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    margin-top: 20px;
}




