 <app-navbar></app-navbar>

<div class="btmenu">
<p-button icon="pi pi-microsoft" styleClass="p-button-rounded p-button-secondary" routerLink="/menu"></p-button>
</div>

<div class="title">
 <h2>Lucky Draw</h2>
</div>

<div class="date">
<h4 class="lucky-draw">ผลรางวัล วันที่ 25/08/2566 เวลา 11:00 น.</h4>
</div>

<div class="big-circle">
  <div class="ball" style="top: 81%; left: 50%;" ></div>
  <div class="ball" style="top: 58%; left: 64%;"></div>
  <div class="ball2" style="top: 65%; left: 75%;"></div>
  <div class="ball2" style="top: 70%; left: 37%;"></div>
  <div class="ball2" style="top: 66%; left: 50%;"></div>
  <div class="ball" style="top: 45%; left: 25%;"></div>
  <div class="ball2" style="top: 72%; left: 15%;"></div>
  <div class="ball" style="top: 32%; left: 36%;"></div>
</div>

<div class="buttons">
  <div>
   <button class="button" (click)="draw()" >DRAW</button>
  </div>
</div>

<div *ngIf="showdialogreward">
<app-dialog-reward (closeDialog)="closeDialog()"></app-dialog-reward>
</div>

<div class="footer"></div>



