html { font-size: 22px; }
body { padding: 1.5rem; }
.card {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 5rem;
  display: grid;
  place-items: center;
  font-family: sans-serif;
}

.cards {
  max-width: 500px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}


.title {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    color: white;
  }
