<app-navbar-complet></app-navbar-complet>


    <div class="title">
      <h2>Menu</h2>
    </div>


<div class="buttons">
  <div>
  <button class="button" routerLink="/reward-setting" >Reward Setting</button>
  </div>
  <div>
     <button class="button" routerLink="/lucky-draw" >Lucky Draw</button>
  </div>
 <div>
      <button class="button">ประกาศรายชื่อ</button>
 </div>
  <div>
      <button class="button" >Board</button>
   </div>
  <div>
    <button class="button"  routerLink="/reset-password">Reset Password</button>
  </div>
</div>

<!-- <div class="footer"></div> -->

