<div class>
  <header class="navbar">
    <div class="logo">Logo</div>
    <div class="user-info">Username</div>
  </header>
  <nav class="menu-nav">
    <a href="#" class="back-btn">Back</a>
  </nav>
    <h2 class="menu-title">Menu</h2>
    <ul class="menu-list">
      <li><a href="reward-setting">Reward Setting</a>
      <li><a href="lucky-draw">Lucky Draw</a></li>
      <li><a href="reward">ประกาศรายชื่อ</a></li>
      <li><a href="#">Board</a></li>
      <li><a href="reset-password">Reset Password</a></li>
   </ul>

  <div class="floating-button"></div>
</div>
