.popup {
  width: 335px;
  height: 485px;
  background: linear-gradient(180deg, #292AA1 0%, #4886D4 81%);
  border-radius: 32px;
  align-items: center;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -445px;
  position: relative;
  overflow: hidden;
}

.btclose {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    margin-top: -55px;
    justify-content: center;
}

