
<app-navbar></app-navbar>



<div class="card flex justify-content-center">
  //;
  <p-card
    [style]="{
      width: '326px',
      
      'margin-left':'2.5em',
      'margin-top': '5em ',
      'background':
        'linear-gradient(180deg, #6C4DEA 1%, #3C24B7 58%, #281062 100%)',
        'border-radius': '22px',
        
      
    }"
  >
    <h2 style="color: azure; text-align: center">Register</h2>

    <p>
      <span class="p-float-label" [style]="{ 'margin-left': '-0.5em' }">
        <input pInputText id="username" [style]="{ width: '300px' }" />
        <label htmlFor="username">Username</label>
      </span>
      <span
        class="p-float-label"
        [style]="{ 'margin-left': '-0.5em', 'margin-top': '2em' }"
      >
        <input pInputText id="e-mail" [style]="{ width: '300px' }" />
        <label htmlFor="e-mail">e-mail</label>
      </span>
      <span
        class="p-float-label"
        [style]="{ 'margin-left': '-0.5em', 'margin-top': '2em' }"
      >
        <input pInputText id="TelephoneNo" [style]="{ width: '300px' }" />
        <label htmlFor="TelephoneNo">TelephoneNo.</label>
      </span>
      <span
        class="p-float-label"
        [style]="{ 'margin-left': '-0.5em', 'margin-top': '2em' }"
      >
        <input pInputText id="Company" [style]="{ width: '300px' }" />
        <label htmlFor="Company">Company</label>
      </span>
      <span
        class="p-float-label"
        [style]="{ 'margin-left': '-0.5em', 'margin-top': '2em' }"
      >
        <div class="card flex justify-content-center">
          <p-treeSelect
            class="w-full md:w-20rem"
            containerStyleClass="w-full"
            [(ngModel)]="selectedNodes"
            display="chip"
            selectionMode="checkbox"
            placeholder="Select Item"
          ></p-treeSelect>
        </div>
      </span>
    </p>
    <ng-template pTemplate="footer">
      <p-button
        label="Register"
        [style]="{ 'margin-left': '5.5em' }"
      ></p-button>
    </ng-template>
  </p-card>
</div>
