<app-navbar></app-navbar>

<div class="card flex justify-content-center">
  <p-card
    [style]="{
      width: '326px',
      
      'margin-left':'2.5em',
      'margin-top': '5em ',
      'background':
        'linear-gradient(180deg, #6C4DEA 1%, #3C24B7 58%, #281062 100%)',
        'border-radius': '22px',
        
      
    }"
  >
    <h2 style="color: azure; text-align: center">Register</h2>

    <p>
      <span class="p-float-label" [style]="{ 'margin-left': '-0.5em' }">
        <input
          pInputText
          id="username"
          [style]="{
            width: '300px',
            'border-radius': '15px',
            background: ' #081D5B',
          
          }"
          [(ngModel)]="username"
        />
        <label htmlFor="username" 
        [style]="{'color':'white'}"
        >Username</label>
      </span>
      <span
        class="p-float-label"
        [style]="{ 'margin-left': '-0.5em', 'margin-top': '2em' }"
      >
        <input
          pInputText
          id="e-mail"
          [style]="{
            width: '300px',
            'border-radius': '15px',
            background: ' #081D5B'
          }"
          [(ngModel)]="email"
        />
        <label htmlFor="e-mail" [style]="{'color':'white'}">e-mail</label>
      </span>

      <span
        class="p-float-label"
        [style]="{ 'margin-left': '-0.5em', 'margin-top': '2em' }"
      >
        <input
          pInputText
          id="TelephoneNo"
          [style]="{
            width: '300px',
            'border-radius': '15px',
            background: ' #081D5B'
          }"
          [(ngModel)]="PhoneNo"
        />
        <label htmlFor="TelephoneNo" [style]="{'color':'white'}">TelephoneNo.</label>
      </span>
      <span
        class="p-float-label"
        [style]="{ 'margin-left': '-0.5em', 'margin-top': '2em' }"
      >
        <input
          pInputText
          id="Company"
          [style]="{
            width: '300px',
            'border-radius': '15px',
            background: ' #081D5B'
          }"
          [(ngModel)]="Company"
        />
        <label htmlFor="Company" [style]="{'color':'white'}">Company</label>
      </span>
      <span
        class="p-float-label"
        [style]="{ 'margin-left': '-0.5em', 'margin-top': '2em' }"
      >
      <h4 style="color: white;">Select a Solution</h4>
        <div class="card flex justify-content-center">
          <p-multiSelect
            [style]="{
              width: '18em',
              background: '#081D5B',
              'border-radius': '15px'
            }"
            [options]="solution"
            [(ngModel)]="selectedSolution"
            defaultLabel="Select a Solution"
            optionLabel="name"
          ></p-multiSelect>
        </div>
      </span>
    </p>
    <ng-template pTemplate="footer">
      <p-button 
      (click)="register()" 
      label="Register"
      [style]="{'margin-left':'5em'}"
      ></p-button>
      <p-dialog
        header="ลงทะเบียนสำเร็จ"
        [(visible)]="visible"
        [breakpoints]="{ '960px': '75vw' }"
        [style]="{ width: '50vw' }"
        [draggable]="false"
        [resizable]="false"
      >
        <p>คุณได้ 1 สิทธิ์ลุ้นรางวัล</p>
        <p-button routerLink="/user" label="หน้าแรก"></p-button>
      </p-dialog>
    </ng-template>
  </p-card>
</div>
