.centered-text {
    text-align: center; /* จัดข้อความให้อยู่ตรงกลาง */
    color: rgb(255, 255, 255); /* สีของข้อความเป็นสีขาว */

  }
  /* CSS เพื่อจัดให้ปุ่มอยู่ตรงกลาง */
  .center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%; /* ความสูงเท่ากับความสูงของ div.card */
    
  }
 
 
    