<div class="content">
  <h1>Products & Solution</h1>

  <div class="solution">
    
    <div class="card">

      <h3 class="title">Card 1</h3>
  
    </div>
  
    <div class="card">
  
      <h3 class="title">Card 2</h3>
  
    </div>
  
    <div class="card">
  
      <h3 class="title">Card 3</h3>
  
    </div>
  
    <div class="card">
  
      <h3 class="title">Card 4</h3>
  
    </div>
  
    </div>
  
  

   <button class="register2">Register</button>

 
   
  

  
  <!-- <div id="event" class="event">Event</div> -->
  <div id="slides">
    <input checked type="radio" name="slider" id="slide1" class="set" />
    <input type="radio" name="slider" id="slide2" class="set" />
    <input type="radio" name="slider" id="slide3" class="set" />
    <input type="radio" name="slider" id="slide4" class="set" />  
        
    <div class="mask">    
      <div class="overflow">
        
        <div class="slide">
          <img src="assets/images/giveaway winner.png?auto=compress&cs=tinysrgb&w=600" alt="image"/>
        </div>
        <div class="slide">
          <img src="https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?auto=compress&cs=tinysrgb&w=600" alt="image"/>
        </div>
        <div class="slide">
          <img src="https://images.pexels.com/photos/1323550/pexels-photo-1323550.jpeg?auto=compress&cs=tinysrgb&w=600" alt="image"/>
        </div>
        <div class="slide">
          <img src="https://images.pexels.com/photos/302549/pexels-photo-302549.jpeg?auto=compress&cs=tinysrgb&w=600" alt="image"/>
        </div>
        
      </div>    
    </div>
  
    <div id="controls" onclick="">  
      <label for="slide1"></label>
      <label for="slide2"></label>
      <label for="slide3"></label>
      <label for="slide4"></label>    
    </div>
  </div>
        
        
</div>
