<h2 class="centered-text">Product & Solution</h2>

<div class="card flex justify-content-center">
  <p-accordion [multiple]="true" [activeIndex]="[0]">
    <p-accordionTab
      *ngFor="let solution of solutions"
      [header]="solution.header"
      [style]="{'background-color':'#ffffff00'}"
    >
      <p>
        {{ solution.content }}
      </p>
    </p-accordionTab></p-accordion
  >
</div>
<div class="card center-button">
  <p-button routerLink="/register"
    label="Register"
    styleClass="p-button-rounded p-button-help"
  ></p-button>
</div>

<div class="card">
  <p-carousel
    [value]="images"
    [numVisible]="1"
    [numScroll]="1"
    [circular]="true"
    #carousel
  >
    "true">
    <ng-template pTemplate="header"> </ng-template>
    <ng-template let-image pTemplate="item">
      <img routerLink="/reward" [src]="image" alt="Image" style="width: 100%" />
    </ng-template>
  </p-carousel>
</div>
