<app-navbar-complet></app-navbar-complet>
<div class="card flex justify-content-center">
  <p-card
    [style]="{
        width: '326px',
        
        'margin-left':'2.5em',
        'margin-top': '5em ',
        'background':
          'linear-gradient(180deg, #6C4DEA 1%, #3C24B7 58%, #281062 100%)',
          'border-radius': '22px',
          
        
      }"
  >
    <h2 style="color: azure; text-align: center">ChangPassword</h2>
    <p>
      <span class="p-float-label" [style]="{ 'margin-left': '-0.5em' }">
        <input pInputText id="password" [style]="{ width: '300px' }" />
        <label htmlFor="password">Password</label>
      </span>
      <span
        class="p-float-label"
        [style]="{ 'margin-left': '-0.5em', 'margin-top': '2em' }"
      >
        <p-password id="password" [(ngModel)]="value" [toggleMask]="true">
        </p-password>
      </span>
      <span
        class="p-float-label"
        [style]="{ 'margin-left': '-0.5em', 'margin-top': '2em' }"
      >
        <p-password [(ngModel)]="values" [toggleMask]="true"> </p-password>
      </span>
    </p>

    <div class="card flex justify-content-center">
      <p-button
        routerLink="/user"
        [style]="{ 'margin-top': '2em' }"
        label="ChangePassword"
      ></p-button>
    </div>
  </p-card>
</div>
