::ng-deep .p-menubar {
  height: 6rem;
  border: 0;
  border-radius: 0 !important;
  background: linear-gradient(0deg, #2C4387 0%, #2C4387 100%), #1D8CF8 !important;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.20), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
}
