.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #2c4387;
  color: white;
}

.navbar-logo {
  display: flex;
  align-items: center; /* ชิดซ้ายแนวตั้ง */
}

.navbar-logo img {
  margin-right: 10px; /* เพิ่มระยะห่างข้างขวาของโลโก้ */
}

.navbar-buttons button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}
.signin {
  cursor: pointer;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #2c4387;
  border: 1px solid #2c4387;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #2c4387, -6px -6px 12px #7c97e8;
}
.signin:hover {
  box-shadow: -6px -6px 12px #2c4387, 6px 6px 12px #7c97e8;
}
