.head{
  margin-top: 15px;
  margin-bottom: 7px;
  font-size: 20px;
}

.popup {
  width: 335px;
  height: 500px auto;
  background: linear-gradient(180deg, #292AA1 0%, #4886D4 81%);
  border-radius: 32px;
  align-items: center;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
}

.button{
    margin-bottom: 15px;
    margin-top: -20px;
}

.btclose {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    justify-content: center;
}

.title_ {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: BDD4F1;
  }

  .title_name {
    width: 100%;
    margin-top: -36px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button{
    background: #9DBADF;
    border-radius: 9px;
    width: 95%;
    height: 45px;
    margin-top: -15px;
    margin-bottom: -10px;
    display: flex;
    justify-content: center;
   }

  .text{
     text-align: center;
     justify-content: center;
     margin-top: 12px;
     color: rgb(0, 0, 0);
  }


