<app-navbar-complet></app-navbar-complet>

<div class="title">
  <div class="head">ประกาศรายชื่อผู้โชคดี</div>
</div>

<div class="popup">
  <ng-container>
    <div class="title_">
      <button class="button" routerLink="/reward">
        <div class="text">ผลรางวัล วันที่ 25/08/2566 เวลา 11:00 น.</div>
      </button>
    </div>
     <div class="title_">
      <button class="button" routerLink="/reward">
        <div class="text">ผลรางวัล วันที่ 25/08/2566 เวลา 11:00 น.</div>
      </button>
    </div>
    <div class="title_">
      <button class="button" routerLink="/reward">
        <div class="text">ผลรางวัล วันที่ 25/08/2566 เวลา 11:00 น.</div>
      </button>
    </div>
  </ng-container>
</div>


<!-- <div class="popup">
  <ng-container *ngIf="results.length > 0; else noResults">
    <div class="title_">
      <button class="button" *ngFor="let result of results" (click)="showRewardDetail(result.date, result.time)">
        <div class="text">ผลรางวัล วันที่ {{ result.date }} เวลา {{ result.time }}</div>
      </button>
    </div>
  </ng-container>
  <ng-template #noResults>
    <div class="title_">
      <div class="text"><h4 style="color: white;">ประกาศผลรางวัลเร็วๆนี้</h4></div>
    </div>
  </ng-template>
</div> -->

