@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

.footer {
  width: 100%;
  height: 80px;
  background: linear-gradient(180deg, rgba(101.07, 59.97, 202.73, 0.80) 0%, rgba(46.45, 61.15, 150.66, 0.80) 52%);
  border-radius: 100% 100% 0 0; /* ปรับค่า border-radius เพื่อให้เป็นครึ่งวงกลม */
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden; /* เพื่อให้ส่วนที่เกินจากครึ่งวงกลมไม่แสดง */
}

body{
    width: auto;
    height: 800px;
  background: linear-gradient(172deg, #2F3A7D 0%, #352C6D 50%, #3B286A 100%);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow-y: auto;
}

@media screen and (min-width: 1729px) {
  .layout-main, .landing-wrapper {
      width: 1504px;
      margin-left: auto !important;
      margin-right: auto !important;
  }

}

@media (min-width: 992px) {
  .layout-wrapper {
      &.layout-overlay {
          .layout-main-container {
              margin-left: 0;
              padding-left: 2rem;
          }

          .layout-sidebar {
              transform: translateX(-100%);
              left: 0;
              top: 0;
              height: 100vh;
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
          }

          &.layout-overlay-active {
              .layout-sidebar {
                  transform: translateX(0);
              }
          }
      }

      &.layout-static {
          .layout-main-container {
              margin-left: 300px;
          }

          &.layout-static-inactive {
              .layout-sidebar {
                  transform: translateX(-100%);
                  left: 0;
              }

              .layout-main-container {
                  margin-left: 0;
                  padding-left: 2rem;
              }
          }
      }

      .layout-mask {
          display: none;
      }
  }
}

@media (max-width: 991px) {
  .blocked-scroll {
      overflow: hidden;
  }

  .layout-wrapper {
      .layout-main-container {
          margin-left: 0;
          padding-left: 2rem;
      }

      .layout-sidebar {
          transform: translateX(-100%);
          left: 0;
          top: 0;
          height: 100vh;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
      }

      .layout-mask {
          z-index: 998;
          background-color: var(--mask-bg);

      }

      .layout-mask {
          display: none;
          position: fixed;
          top: 0;
          left: 0;
          z-index: 998;
          width: 100%;
          height: 100%;
          background-color: var(--maskbg);
      }

      &.layout-mobile-active {
          .layout-sidebar {
              transform: translateX(0);
          }

          .layout-mask {
              display: block;
          }
      }
  }
}

.card {
    border: 1px solid var(--surface-border);
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: var(--card-shadow);
    border-radius: $borderRadius;

    &:last-child {
        margin-bottom: 0;
    }
}

.btmenu{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 2px;
    margin-left: 20px;
    display: flex;
    justify-content: left;

}

.title {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

