.home
{
position:absolute;
background:linear-gradient();
height:800px;
width:360px;
padding:0px;
display:flex;
flex-direction:column;
flex-wrap:nowrap;
align-items:center;
justify-content:center;
}
.frame11
{
background-color:#1d8cf8;
height:64px;
width:359px;
filter:drop-shadow(0px 1px 5px rgba(0,0,0,0.11999999731779099));
align-self:flex-start;
top:28px;
left:0px;
position:absolute;
padding-left:3px;
padding-right:16px;
padding-top:10px;
padding-bottom:10px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:102px;
}
.group1
{
align-self:flex-start;
left:3px;
top:6.5px;
position:absolute;
width:82px;
height:51px;
}