<app-navbar-complet></app-navbar-complet>
<p-button
  icon="pi pi-microsoft"
  styleClass="p-button-rounded"
  [style]="{ 'margin-top': '10px' }"
></p-button>
<div class="card flex justify-content-center">
  <p-card
    [style]="{
      width: '350px',

      'margin-left': '3em',
      'margin-top': '5em ',
      'border-radius': '15px',
      background: 'rgba(4, 115, 223, 0.60)',
      'box-shadow': '0px 5px 15px 0px #102B62'
    }"
  >
    <h2 style="color: azure; text-align: center">Reset Password</h2>
    <p>
      <span class="p-float-label" [style]="{ 'margin-left': '-0.5em' }">
        <input
          pInputText
          id="username"
          [style]="{
            width: '300px',
            background: '#081D5B',
            'border-radius': '15px'
          }"
        />
        <label htmlFor="username">g-mail</label>
      </span>
      <!-- <span
          class="p-float-label"
          [style]="{ 'margin-left': '-0.5em', 'margin-top': '2em' }"
        >
          <input pInputText id="e-mail" [style]="{ width: '300px' }" />
          <label htmlFor="e-mail">e-mail</label>
        </span> -->
      <!-- <span
          class="p-float-label"
          [style]="{ 'margin-left': '-0.5em', 'margin-top': '2em' }"
        >
          <p-password  [(ngModel)]="value" [feedback]="false" ></p-password>
          <label for="password">Password</label>
        </span> -->
    </p>

    <div class="card flex justify-content-center">
      <p-toast></p-toast>
      <p-confirmPopup></p-confirmPopup>
      <p-button
        (click)="confirm($event)"
        icon="pi pi-history"
        label="Reset"
        [style]="{'border-radius': '6px',
        'margin-left':'6em',
        'border': '1px solid #247CF7',
        'background': 'linear-gradient(180deg, #247CF7 0%, #215195 100%)',
        'box-shadow': '0px 3px 1px -2px rgba(0, 0, 0, 0.20), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)'}"
      >
      </p-button>
    </div>
  </p-card>
</div>
